@page
@model SesNotifications.App.Pages.FindRawModel
@{
    ViewData["Title"] = "Find raw";
}

<!DOCTYPE html>

<h1>@ViewData["Title"]</h1>
<h4>Search for raw data by date range.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Starting date</label>
                <input asp-for="Input.Start" class="form-control" />
                <span asp-validation-for="Input.Start" class="text-danger"></span>

                <label>Ending date</label>
                <input asp-for="Input.End" class="form-control" />
                <span asp-validation-for="Input.End" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br />

        <table class="table">
            <tr>
                <th>ID</th>
                <th>Sent at</th>
                <th>Received at</th>
                <th>Message</th>
                <th>Raw message</th>
            </tr>
            @foreach (var record in Model.Raw)
            {
                <tr>
                    <td>@record.Id</td>
                    <td>@record.SentAt.ToString("yyyy-MM-dd HH:mm:ssZ")</td>
                    <td>@record.ReceivedAt.ToString("yyyy-MM-dd HH:mm:ssZ")</td>
                    <td>@record.MessageId</td>
                    <td>@record.Notification</td>
                    <td><a target="_blank" href="@string.Concat(Url.Action("FindMessageById", "Searches", new {id = record.Id}), "/text")">RAW (MESSAGE)</a></td>
                </tr>
            }
        </table>
    </div>
</div>
